<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Login</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="Style2.css" rel="stylesheet">

</head>
<body style="background-color:rgb(251, 253, 255);">
    <!--h1 style="color:rgb(0, 109, 219); font-family:Trebuchet MS; font-size:60px; padding-left:200px;"><span><b>Resource Management  Pool</b></span></h1-->
    <div class="login-form" align="center" style="padding-left:55px; ">
         <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="logo.png" alt="" style="padding-bottom: -3px;">
                </a>
          </div>
        <form action="#" th:action="@{/login/}" th:object="${user}"
            method="post">
            <h2 class="text-center" style="padding-top:120px;color:rgb(0, 92, 185); font-family:Trebuchet MS; font-size:55px;"><b>Login</b></h2>
            <div class="form-group" style="padding-left:350px;  padding-right:350px">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> <input
                        type="text" style="height:50px;"class="form-control" th:field="*{Email}"
                        placeholder="Username/Email" required/>

                </div>
                <span class="red" th:if="${#fields.hasErrors('Email')}"
                    th:errors="*{error}"></span>
            </div>
            <div class="form-group" style="padding-left:350px; padding-right:350px">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
                        type="password" class="form-control" th:field="*{Password}"
                        placeholder="Password" style="height:50px;" required minlength="6" maxlength="10"/>

                </div>
                <span class="red" th:if="${#fields.hasErrors('Password')}"
                    th:errors="*{Password}"></span>
            </div>
            <div class="form-group" style="padding-left:450px; padding-right:450px">
                <button type="submit" class="btn btn-primary login-btn btn-block" align="center" style="height:50px; font-family:Trebuchet MS; border-radius:5px;background-color:rgb(0, 113, 225); font-size:20px">Login</button>
                    <br>    
                 <span> Not registered ?
                     <a th:href="@{/register}">Register/Signup here</a>
                 </span>
                 <br></br>
                 <span> 
                     <a th:href="@{/forgot}">Forgot Password</a>
                 </span>
          </div>
        </form>
         <text th:text="${msg}" align="center"></text>
                   <text th:text="${err}"></text>
      </div>
    </div>
                   
  </body>
</html>

