<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Details</title>
</head>
<body style="background-color:rgb(251, 253, 255);">
<div class="container">
    <h1>Add New Details</h1>
    <hr>
    <h2>Save</h2>

    <form action="#" th:action="@{/saveEmp}" th:object="${employee}"
          method="POST">
        <input type="text" th:field="*{Ecode}"
               placeholder="E-Code" required>
        <input type="text" th:field="*{Name}"
               placeholder="Name" required>
        <input type="text" th:field="*{BAND}"
               placeholder="Band" required>
        <input type="date" th:field="*{DOJ}" class="form-control" placeholder="dd-mm-yyyy" required>
        <input type="text" th:field="*{Skill_Set}"
               placeholder="SkillSet" required>
        <input type="text" th:field="*{Sub_Set}"
               placeholder="SubSet" required>
        <input type="text" th:field="*{Location}"
               placeholder="Location" required>
        <input type="text" th:field="*{StartDate}"
               placeholder="Availability Start Date" required>
               <input type="text" th:field="*{Status}"
               placeholder="Status" required>       
        <input type="text" th:field="*{Remarks}"
               placeholder="Remarks" required>
        <input type="text" th:field="*{block_for}"
               placeholder="Blocked For" required>                                  
        <input type="text" th:field="*{Current_RAS}"
               placeholder="Current RAS" required>

        <button type="submit"> Save</button>
    </form>

    <!--a th:href="@{/availablePools}"> Back to Available Pool</a-->
</div>
<text th:text="${err}"></text>
</body>
</html>


